* {
    margin: 0;
    padding: 0;
}
:root {
    --color-primary: #4723d9;
    --color-primary-light: #afa5d9;
    --color-white: #f7f6fb;
}

*,
::before,
::after {
    box-sizing: border-box;
}
body {
    /* margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    position: relative;
    margin: 50px 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    transition: 0.5s;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
}
